
.wrapper {
  display: grid;
  /*grid-template-columns: 200px 200px 200px 200px;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

#results {
  background-color: #888;

}

.image-one {
  background-color: #888;

}

.image-two {
  background-color: #888;

}

.image-three {
  background-color: #888;

}

img {
  height: 200px;
}
